<h2>Nutzerdaten ändern</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>*<%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div>*<%= f.label "Vorname" %><br />
  <%= f.text_field :firstname %></div>
  
  <div>*<%= f.label "Nachname" %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :alias %><br />
  <%= f.text_field :alias %></div>
	</br>
  <div><%= f.label "Passwort" %> <i>(freilassen, falls es nicht geändert werden soll)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Passwort wiederholen" %><br />
  <%= f.password_field :password_confirmation %></div>
	</br>
  <div><%= f.label "Aktuelles Passwort" %> <i>(Aktuelles Passwort, um Änderungen zu bestätigen)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Update" %></div>
<% end %>

</br>
<%= link_to "Back", :back %>
</br>
<p><%= link_to "Account Löschen", registration_path(resource_name), :confirm => "Sicher?", :method => :delete %></p>