<% content_for :title, t('.headline') %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true}) do |f| %>
  <%= devise_error_messages! %>
      <div class="clearfix">
            <%= f.label t('user.email') %>
            <div class="input">
                <%= f.email_field :email %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.firstname') %>
            <div class="input">
                <%= f.text_field :firstname %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.lastname') %>
            <div class="input">
                <%= f.text_field :lastname %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.alias') %>
            <div class="input">
                <%= f.text_field :alias %>
            </div>
      </div>

	<div class="clearfix">
		<%= f.label t('.notifications') %>
    	<div class="input">
			<%= f.check_box :email_notification %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label t('.search_own_cds') %>
    	<div class="input">
			<%= f.check_box :search_own_cds %>
		</div>
	</div>
	
     <div class="clearfix">
            <%= f.label t('.password_current') %>  
            <div class="input">
                <%= f.password_field :current_password %>*<br/>
                <span class="label notice"><%= t('.reference2') %></span>
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.new_password') %> 
            <div class="input">
                <%= f.password_field :password %><br/>
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.password_confirm') %>
            <div class="input">
                <%= f.password_field :password_confirmation %>
            </div>
      </div>

      <div class="clearfix">
            <%= f.label t('.upload_photo') %>
            <div class="input">
                <%= f.file_field :photo%>
            </div>
      </div>

			<div class="clearfix">
            <%= f.label t('.upload_url') %>
            <div class="input">
							 <%= f.text_field :photo_url %>
            </div>
      </div>

	<div class="actions"> 
			<%= link_to t('.cancel'), user_path(current_user), :class => "btn default" %>
      <%= f.submit t('.confirm'), :class => "btn primary" %>
	  <% if user_signed_in? && current_user.id == @user.id %>
	  	<div style=" float:right;">
						<%= link_to t('.delete_account'), delete_user_path(@user), :class => "btn danger", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true %>
        </div>
        <div style="clear:both;"></div>
      <% end %>
  	</div>

		<div class="modal hide fade" id="modal-window">
		  <div class="modal-header">
		    <a href="#" class="close">×</a>
		    <h3><%= t('.delete_headline')%></h3>
		  </div>
		  <div class="modal-body center">
				<%= t('.delete_text')%>
		  </div>
		  <div class="modal-footer">
		  	<%= link_to t('.delete_confirm'), delete_user_path(@user), :class => "btn danger", :method => :delete %>
		  </div>
		</div>
  	</div>

<% end %>