<% content_for :title, t('.headline') %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true}) do |f| %>
  <%= devise_error_messages! %>
      <div class="clearfix">
            <%= f.label t('user.email') %>
            <div class="input">
                <%= f.email_field :email %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.firstname') %>
            <div class="input">
                <%= f.text_field :firstname %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.lastname') %>
            <div class="input">
                <%= f.text_field :lastname %>*
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.alias') %>
            <div class="input">
                <%= f.text_field :alias %>
            </div>
      </div>

	<div class="clearfix">
		<%= f.label "Benachrichtigungen" %>
    	<div class="input">
			<%= f.check_box :email_notification %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label "Eigene CDs in Suche einbeziehen? " %>
    	<div class="input">
			<%= f.check_box :search_own_cds %>
		</div>
	</div>
	
     <div class="clearfix">
            <%= f.label t('.password_current') %>  
            <div class="input">
                <%= f.password_field :current_password %>*<br/>
                <span class="label notice"><%= t('.reference2') %></span>
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.new_password') %> 
            <div class="input">
                <%= f.password_field :password %><br/>
            </div>
      </div>
      <div class="clearfix">
            <%= f.label t('user.password_confirm') %>
            <div class="input">
                <%= f.password_field :password_confirmation %>
            </div>
      </div>

      <div class="clearfix">
            <%= f.label t('.upload_photo') %>
            <div class="input">
                <%= f.file_field :photo%>
            </div>
      </div>

	<div class="actions"> 
      <%= f.submit 'Bestätigen', :class => "btn primary" %>
	  <%= link_to t('.cancel'), :back, :class => "btn primary" %>
	  <% if user_signed_in? && current_user.id == @user.id %>
	  	<%= link_to t('.delete_account'), registration_path(@user), :class => "btn danger", :confirm => t('.confirm_changes'), :method => :delete %>
	  <% end %>
  	</div>

<% end %>