<% content_for :title, "Sign Up" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Vorname" %><br />
  <%= f.text_field :firstname %></div>
  
  <div><%= f.label "Nachname" %><br />
  <%= f.text_field :lastname %></div>

  <div><%= f.label :alias %><br />
  <%= f.text_field :alias %></div>
	</br>
  <div><%= f.label "Passwort" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label "Passwort wiederholen" %><br />
  <%= f.password_field :password_confirmation %></div>
	

  <div><%= f.label :image_uri %><br />
  <%= f.text_field :image_uri %></div>
	
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
