<div class="row">
<div class="clearfix">
		<%= form.label t('.title') %>
        <div class="input">
            <%= form.text_field :title, :class => "span6" %>*
        </div>
</div>
	

	<div class="clearfix">
		<%= form.label t('.artist') %>
        <div class="input">
            <%= form.text_field :artist, :class => "span6" %>* 
                <span class="span6 offset10"style="float:right; padding-right:30px;">
                    <%= link_to_function t('.music_brainz'), 'mbrainz()', :class => "btn mbrainzBt" %>
                    <%= image_tag ("information-white.png"), :class=>"information_symbol", :rel=>"popover", :title => 'MusicBrainz', :id => "Wenn Sie einen Titel und Interpreten einer CD eingegeben haben, koennen Sie mittels MusicBrainz, einer Open Music Enzyklopaedie, weitere Daten (z.B Songs oder Cover) automatisch fuellen lassen. Es kann sein das keine Daten zu dem angebeben Titel und Interpreten gefunden werden. Die Abfrage dauert nicht länger als 5 Sekunden. Versuchen sie einfach mal eine andere Schreibweise."  %>
                </span>
		</div>
    </div>
    
</div>
<div class="row">
	<div class="clearfix">
		<%= form.label t('.genre') %>
    <div class="input">
			<%= form.text_field :genre, :class => "span6" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= form.label t('.release_year') %>
    <div class="input">
			<%= form.text_field :year, :placeholder => '1992', :class => "span6" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= form.label t('.description') %>
    	<div class="input">
			<%= form.text_area :description, :placeholder => t('.your_description'), :class => "span6", :rows => 5 %>
		</div>
	</div>
	
	<%= form.hidden_field :user_id, :value => current_user.id %>
	<%= form.hidden_field :visible, :value => true %>

<!--	
	<div class="clearfix">
	<%= form.label "Songs" %>
		<div id="input1" class="clonedInput input">
			<p><%= text_field_tag 'song[1]', nil, :class => "span6" %></p>
		</div>
	</div>
    <div class="clearfix">
        <div class="input">
            <%= submit_tag "+", :type => 'button', :id => "btnAdd" %>
            <%= submit_tag "-", :type => 'button', :id => "btnDel" %>
        </div>
    </div>
-->	

	<div class="clearfix song_fields">
		<%= form.label "Songs"%>
		<%= form.fields_for :songs do |builder| %>
			<%= render 'song_partial', :f => builder %>
		<% end %>
		<div class="mbrainz_fields"></div>
		<div class="input">
			<%= link_to_add_fields '<span class="label success"> + </span>'.html_safe, form, :songs %>
		</div>
	</div>
		
	<div class="clearfix">
    	<%= form.label t('.upload_cover') %>
        <div class="input">
        	<%= form.file_field :photo, :class => "input-file" %> <span style=" margin-left:55px;  color: #808080;" class="small">max. 5 MB</span>
        </div>
  </div>

	<div class="clearfix">
        <%= form.label 'Cover URL' %>
        <div class="input">
					 <%= form.text_field :photo_url %>
					<span class="span6 offset10">
	            <%= image_tag ("information-white.png"), :class=>"information_symbol", :rel=>"popover", :title => 'URL', :id => "Sollte die URL auf kein Bild verweisen wird das Standard Bild verwendet."  %>
	        </span>
        </div>
				
  </div>

	<div class="clearfix">
    	<%= form.label t('.demo_song') %>
        <div class="input">
        	<%= form.file_field :audio, :class => "input-file" %>  <span style=" margin-left:55px;  color: #808080;" class="small">max. 5 MB</span>
        </div>
  </div>
</div>
* <%= t('.pflichtfeld') %>
<%= @tracks %>