<% content_for :title, "Showcase von "+@user.firstname+" "+@user.lastname %>

<div style="margin-left:20px;">
<% if flash[:alert] || flash[:notice] %>
	<div class="alert-message error">
		<a class="alert_close" href="#">×</a>
		<%= flash[:alert] %>
		<%= flash[:notice] %>
	</div>
<% end %>
</div>

<%= render "user/show_partial" %>

<!--<div id="usercds" class="box-swap" >-->
<%= will_paginate @cds, :previous_label => "Zurück", :next_label => "Weiter" %>	
<div class="row">
	<!--<h3>CD's des Users: </h3>-->
<ol id="selectable">
	<% @cds.each do |c| %>
	<% if c.visible == true %>
	<li>
		<%= link_to (image_tag c.photo.url(:normal)), compact_disk_path(c), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
		
		<p class="blackFont"><%= c.artist %></p>
		<p><%= c.title %></p>
		<p>
			<% if user_signed_in? %>
				<%= link_to 'Tauschen', swap_cd_path(c.id) %>
			<% end %>
		</p>
	</li>
	<% end %>
	<% end %>
</ol>
</div>
<%= will_paginate @cds, :previous_label => "Zurück", :next_label => "Weiter"  %>	
<!--</div>-->