<% content_for :title, t('.headline') %>

<div style="margin-left:20px;">
<% if flash[:alert]%>
	<div class="alert-message error">
		<a class="alert_close" href="#">×</a>
		<%= flash[:alert] %>
	</div>
<% end %>
</div>

<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%


<%
=end %>
<div style="height:494px;">
<ol id="selectable">
	<% @best.each do |c| %>
	<li>
		<!--<%= image_tag c.photo.url(:normal) %>-->
		<% if user_signed_in? %>
			<% if current_user.id == c.user_id %>
				<%= link_to (image_tag c.photo.url(:normal)), myCDs_path(c.user_id), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
			<% else %>
				<%= link_to (image_tag c.photo.url(:normal)), compact_disk_path(c), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
			<% end %>
		<% end %>
		<% if !user_signed_in? %>
			<%= link_to (image_tag c.photo.url(:normal)), allUserCDs_path(c.user_id), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
		<% end %>
		<div class="blackFont"><%= c.artist %></div>
		<p class="line_height08"><%= c.title %></p>
		<p>
			<!--<%= link_to 'Show', compact_disk_path(c) %>-->
			<% if user_signed_in? && !c.in_transaction && c.visible %>
				<%= link_to t('.share'), swap_cd_path(c.id) %>
			<% end %>
			<% if user_signed_in? && c.in_transaction %>
				<span class="label warning line_height1"><%= t('.label_transaction')%></span></br>
			<% end %>
		</p>
	</li>
	<% end %>
</ol>
</div>