<% content_for :title, "Tollste CDs" %>

<p><%= flash[:alert] %></p>

<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%


<%
=end %>
<div style="height:494px;">
<ol id="selectable">
	<% @best.each do |c| %>
	<% if c.visible == true %>
	<li>
		<!--<%= image_tag c.photo.url(:normal) %>-->
		<% if current_user.id == c.user_id %>
			<%= link_to (image_tag c.photo.url(:normal)), myCDs_path(c.user_id), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
		<% else %>
			<%= link_to (image_tag c.photo.url(:normal)), allUserCDs_path(c.user_id), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
		<% end %>
		<p class="blackFont"><%= c.artist %></p>
		<p><%= c.title %></p>
		<p>
			<!--<%= link_to 'Show', compact_disk_path(c) %>-->
			<% if user_signed_in? && current_user.id != c.user_id %>
				<%= link_to 'Tauschen', swap_cd_path(c.id) %>
			<% end %>
		</p>
	</li>
	<% end %>
	<% end %>
</ol>
</div>