<% content_for :title, "CD bearbeiten" %>

<% if @cd.errors.any? %>
    <div class="alert-message block-message error" style="margin-left:17px;">
      <ul>
        <% @cd.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(@cd, :html => { :method => :put, :multipart => true}) do |f| %>


	<%= render 'form_fields', :form => f %>

	<div class="actions"> 
			<%= link_to 'Abbrechen', compact_disk_path(@cd), :class => "btn default" %>
    	<%= f.submit "Bestätigen", :class => "btn primary" %> 
		<% if !existingTransactions(@cd.id, @cd.user_id) && current_user.id == @cd.user_id %>
            <div style=" float:right;">
                <%= link_to "CD löschen", @cd, :confirm => "Wollen Sie Ihre CD \""+ @cd.title+"\" wirklich löschen?", :method => :delete, :class => "btn danger" %>
            </div>
            <div style="clear:both"></div>
        <% end %>
	</div>
<% end %>



