<% content_for :title, "CD bearbeiten" %>

<% if @cd.errors.any? %>
    <div class="alert-message block-message error" style="margin-left:17px;">
      <ul>
        <% @cd.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(@cd, :html => { :method => :put, :multipart => true}) do |f| %>


	<%= render 'form_fields', :form => f %>

	<div class="actions"> 
			<%= link_to 'Abbrechen', compact_disk_path(@cd), :class => "btn default" %>
    	<%= f.submit "Bestätigen", :class => "btn primary" %> 
		<% if current_user.id == @cd.user_id %>
            <div style=" float:right;">
                <%= link_to "CD löschen", @cd, :class => "btn danger", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true %>
            </div>
            <div style="clear:both"></div>
        <% end %>
	</div>
	
	<div class="modal hide fade" id="modal-window">
	  <div class="modal-header">
	    <a href="#" class="close">×</a>
	    <h3>Löschen der CD</h3>
	  </div>
	
	  <div class="modal-body center">
			Wollen Sie die CD <b><%= @cd.title %> (<%= @cd.artist %>)</b> wirklich löschen?
	  </div>
	
	  <div class="modal-footer">
	  	<%= link_to "Ja löschen", compact_disk_path(@cd), :class => "btn danger", :method => :delete %>
	  </div>
	
	</div>
	</div>
<% end %>



