<% content_for :title, t('.headline') %>

<%= form_for(@cd, :html => { :method => :put, :multipart => true}) do |f| %>
	<div>
		<%= f.label "Titel" %>
    <br/>
    <%= f.text_field :title %>*
	</div>
	<div>
		<%= f.label "Artist" %>
    <br/>
    <%= f.text_field :artist %>*
	</div>
	<div>
		<%= f.label "Genre" %>
    <br/>
    <%= f.text_field :genre %>*
	</div>
	<div>
  		<%= f.label "Upload Cover" %><br/>
      <%= f.file_field :photo%>
  </div>

	<div class="clearfix">
    	<%= f.label "Upload Song" %>
        <div class="input">
        <%= f.file_field :audio%>
        </div>
  </div>

<!--
	<div>
	<%= f.label "Songs" %><br/>
	<% @cd.songs.each do |s| %>
		<%= f.fields_for s, :index => s.id do |song| %>
		<%= song.text_field :title %>
		<% end %>
	<% end %>
	</div>
-->

 <%= f.fields_for :songs do |songs_form| %>
	<%= songs_form.text_field :title %>
<% end %>

	<div id="submit"><%= f.submit "Bestätigen" %></div>
<% end %>

<% if @cd.errors.any? %>
  <ul>
    <% @cd.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>