<% content_for :title, "CD bearbeiten" %>

<% if @cd.errors.any? %>
    <div class="alert-message block-message error" style="margin-left:17px;">
      <ul>
        <% @cd.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
<% end %>

<%= form_for(@cd, :html => { :method => :put, :multipart => true}) do |f| %>
	<div class="clearfix">
		<%= f.label "Titel" %>
		<div class="input">
    		<%= f.text_field :title, :class => "span6" %>*
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label "Artist" %>
		<div class="input">
    		<%= f.text_field :artist, :class => "span6" %>*
		</div>
	</div>
    <div class="clearfix">
		<%= f.label "Erscheinungsjahr" %>
		<div class="input">
    		<%= f.text_field :year, :class => "span6" %>
		</div>
	</div>
    
	
	<div class="clearfix">
		<%= f.label "Genre" %>
		<div class="input">
    		<%= f.text_field :genre, :class => "span6" %>
		</div>
	</div>
	
	<div class="clearfix">
		<%= f.label "Beschreibung" %>
    	<div class="input">
			<%= f.text_area :description, :class => "span6", :rows => 5 %>
		</div>
	</div>
	
  
	<div class="clearfix">
  		<%= f.label "Upload Cover" %>
    	<div class="input">
           
      		<%= f.file_field :photo, :class => "input-file" %>
		</div>
  	</div>

	<div class="clearfix">
    	<%= f.label "Upload Song" %>
        <div class="input">
        	<%= f.file_field :audio, :class => "input-file" %>
        </div>
  </div>




<!--
	<div>
	<%= f.label "Songs" %><br/>
	<% @cd.songs.each do |s| %>
		<%= f.fields_for s, :index => s.id do |song| %>
		<%= song.text_field :title %>
		<% end %>
	<% end %>
	</div>
-->

 <%= f.fields_for :songs do |songs_form| %>
	<div class="clearfix">
		<div class="input">
			<%= songs_form.text_field :title, :class => "span6" %>
		</div>
	</div>
<% end %>

	<div class="actions"> 
    	<%= f.submit "Bestätigen", :class => "btn primary" %> 
		<% if !existingTransactions(@cd.id, @cd.user_id) && current_user.id == @cd.user_id %>
			<%= link_to "CD löschen", @cd, :confirm => "Wollen Sie Ihre CD \""+ @cd.title+"\" wirklich löschen?", :method => :delete, :class => "btn danger" %>
		<% end %>
	</div>
<% end %>



