<% content_for :title, "Meine CDs" %>
<h1><%= t('.cd_headline')%></h1>
<p><%= flash[:alert] %></p>

<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%
=end %>
<ul id="selectable" class="gallery ui-helper-reset ui-helper-clearfix">
<% @cds.each do |c| %>
	<li>	

			<%= image_tag "cd_pic.png", :alt => c.id %>
			<div id="cd_info">
				<%= c.artist %></br>
				<%= c.title %></br>
			</div>
	</li>
<% end %>
</ul>
<%= link_to t('.cd_new'), new_compact_disk_path %> <br />