<% content_for :title, "Meine CDs" %>
<h1><%= t('.cd_headline')%></h1>
<p><%= flash[:alert] %></p>

<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%
=end %>


<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
<% @cds.each do |c| %>
			<li class="ui-widget-content ui-corner-tr">
				<%= image_tag "cd_pic.png", :alt => c.id %>

					<h5><%= c.artist %></h5>
					<h5><%= c.title %></h5>
			</li>
<% end %>
</ul>


<%= link_to t('.cd_new'), new_compact_disk_path %> <br />
<%= link_to "Tauschen", "", :class => "shareBt"%>