<h1>Meine CDs</h1>
<p><%= flash[:alert] %></p>

<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%
=end %>

<!-- <ol id="selectable"> -->
<ul id="selectable" class="gallery ui-helper-reset ui-helper-clearfix">
<% @cds.each do |c| %>
	<li>
			<%= image_tag "cd_pic.png" %>
			<div id="cd_info">
				<%= c.artist %></br>
				<%= c.title %>
			</div>
	</li>
<% end %>
</ul>



	
