<h1><%= t('.cd_headline')%></h1>
<p><%= flash[:alert] %></p>
<%
=begin %>
	<% if can?(:show, c) && user_signed_in? %>
		<%= link_to 'Show', c %>
	<% end %>
	<% if can?(:manage, c) && user_signed_in?%>
		<%= link_to 'Destroy', c, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<%
=end %>
<%= link_to t('.cd_new'), new_compact_disk_path %>