<% content_for :title, t('layouts.application.user_cd_index') %>

<div style="margin-left:20px;">
<% if flash[:notice] %>
	<div class="alert-message success">
		<a class="alert_close" href="#">×</a>
		<%= flash[:notice] %></p>
	</div>
<% elsif flash[:error] %>
	<div class="alert-message error">
		<a class="alert_close" href="#">×</a>
		<%= flash[:error] %></p>
	</div>
<% end %>
</div>

<div class="row">
<div class="pull-right"><%= link_to t('compact_disk.new.create'), new_compact_disk_path, :class => "btn primary" %></div>
</div>

<div style="padding-left:20px;">
<%= will_paginate @myCDs, :previous_label => "Zurück", :next_label => "Weiter"  %>
</div>
<ul id="selectable">
<% @myCDs.each do |c| %>
	<li>
        <%= link_to (image_tag c.photo.url(:normal)), compact_disk_path(c), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
            
			<p class="blackFont"><%= c.artist %></p>
            <p><%= c.title %></p>
			<% if !c.visible && !c.in_transaction %>
				<%= link_to "Freigeben", makeVisible_path(c.id), :class => "btn" %>
			<% elsif c.in_transaction %>
				<span class="label warning">In einer Transaktion</span></br>
			<% end %>
			<% if c.created_at > (Time.now-60*60*24) %>
				<span class="label success"> Neu </span>
			<% end %>
        
	</li>
<% end %>
</ul>
<div class="row">
	<div style="padding-left:20px;">
		<%= will_paginate @myCDs, :previous_label => "Zurück", :next_label => "Weiter"  %>
	</div>
</div>