<% content_for :title, "CD Sammlung" %>
<div class="row">
<div class="pull-right"><%= link_to t('.cd_new'), new_compact_disk_path %></div>
</div>
<div style="padding-left:20px;">
<%= will_paginate @myCDs %>
</div>
<ul id="selectable">
<% @myCDs.each do |c| %>
	<li>
        <a href="#" rel="popover" title="test Album" data-content="<%= c.title %> </br><%= c.artist %> ">
            <%= image_tag c.photo.url(:normal) %></a>
            
			<p class="blackFont"><%= c.artist %></p>
            <p><%= c.title %></p>
            <p>
                <%= link_to 'Edit', edit_compact_disk_path(c) %>
                <%= link_to 'Show', compact_disk_path(c) %>
            </p>
        
	</li>
<% end %>
</ul>
<div style="padding-left:20px;">
<%= will_paginate @myCDs %>
</div>