<% content_for :title, "CD Sammlung" %>
<div class="row">
<div class="pull-right"><%= link_to t('.cd_new'), new_compact_disk_path %></div>
</div>
<div style="padding-left:20px;">
<%= will_paginate @myCDs %>
</div>
<ul id="selectable">
<% @myCDs.each do |c| %>
	<li>
        <%= link_to (image_tag c.photo.url(:normal)), compact_disk_path(c), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
            
			<p class="blackFont"><%= c.artist %></p>
            <p><%= c.title %></p>
        
	</li>
<% end %>
</ul>
<div style="padding-left:20px;">
<%= will_paginate @myCDs %>
</div>