<% content_for :title, "Neue CD" %>

<%= form_for(@cd, :url => {:action => "create"}) do |form| %>
	<div>
		<%= form.label "Titel" %><br />
		<%= form.text_field :title, :placeholder => 'Enter text here...' %>
	</div>
	
	<div>
		<%= form.label "Artist" %><br />
		<%= form.text_field :artist, :placeholder => 'Enter text here...' %>
	</div>
	
	<div>
		<%= form.label "Genre" %><br />
		<%= form.text_field :genre, :placeholder => 'Enter text here...' %>
	</div>
		<%= form.hidden_field :user_id, :value => current_user.id %>
	
	<div>
	<%= form.label "Songs" %>
		<div id="input1" class="clonedInput">
			<%= text_field_tag 'song' %>
		</div>
	</div>
	<%= submit_tag "+", :type => 'button', :id => "btnAdd" %>
	<%= submit_tag "-", :type => 'button', :id => "btnDel" %>
	<%= form.submit("CD erstellen") %>
<% end %>

