<% content_for :title, "Neue CD" %>

<%= form_for(@cd, :url => '/compact_disk', :html => { :method => :post, :multipart => true}) do |form| %>
	
	<div class="clearfix">
		<%= form.label "Titel" %>
        <div class="input">
            <%= form.text_field :title, :placeholder => 'Enter text here...' %>
        </div>
	</div>
	
	<div class="clearfix">
		<%= form.label "Artist" %>
        <div class="input">
		<%= form.text_field :artist, :placeholder => 'Enter text here...' %>
        </div>
	</div>
	
	<div class="clearfix">
		<%= form.label "Genre" %>
        <div class="input">
		<%= form.text_field :genre, :placeholder => 'Enter text here...' %>
        </div>
	</div>
		<%= form.hidden_field :user_id, :value => current_user.id %>
	
	<div class="clearfix">
	<%= form.label "Songs" %>
		<div id="input1" class="clonedInput input">
			<%= text_field_tag 'song' %>
		</div>
	</div>
    <div class="clearfix">
        <div class="input">
            <%= submit_tag "+", :type => 'button', :id => "btnAdd" %>
            <%= submit_tag "-", :type => 'button', :id => "btnDel" %>
        </div>
    </div>
	
	<div class="clearfix">
    	<%= form.label t('.upload_cover') %>
        <div class="input">
        <%= form.file_field :photo%>
        </div>
    </div>


	<div class="clearfix">
    <div class="input"> 
        <%= form.submit("CD erstellen") %>
    </div>
    </div>
<% end %>

<% if @cd.errors.any? %>
  <ul>
    <% @cd.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

