	<%= image_tag @cd.photo.url(:normal) %>
	<p>
		<b>Besitzer:</b>
		<%= link_to @user.firstname + ' ' + @user.lastname, allUserCDs_path(@cd.user_id) %>
	</p>
	<p>
		<b>Artist:</b>
		<%= @cd.artist %>
	</p>
	<p>
		<b>Title:</b>
		<%= @cd.title %>
	</p>
	<p>
		<b>Genre:</b>
		<%= @cd.genre %>
	</p>
	<p>
		<b>Erscheinungsjahr:</b>
		<%= @cd.year %>
	</p>
	
	<p>
		<b>Beschreibung:</b>
		<%= @cd.description %>
	</p>
	
	<p>
	<b>Songs:</b><br/>
	<% @songs.each_with_index do |s, index| %>
		<%= index + 1 %>
		<%= s.title %>
		</br>
	<% end %>
	</p>
	
	<p>
	<audio controls="controls">
	  <source src=<%='" '.html_safe+ @cd.audio.url+ '"'.html_safe %> type=<%='" '.html_safe+ @cd.audio_content_type+ '"'.html_safe %>  />
	  Your browser does not support the audio element.
	</audio>
	</p>
<%= link_to 'Back', :action => "index" %>