<% content_for :title, @cd.title+" ("+@cd.artist+")" %>
<div style="margin-left:20px;">
<% if flash[:notice] %>
	<div class="alert-message success">
		<a class="alert_close" href="#">×</a>
		<%= flash[:notice] %></p>
	</div>
<% end %>
</div>

<div class="row show-grid" >
	<div class="span11" style="margin-left:39px;">
		
		<% if !user_signed_in? || current_user.id != @cd.user_id %>
			<p>
				<b><%= t('.owner')%></b>
				<%= link_to @user.firstname + ' ' + @user.lastname, allUserCDs_path(@cd.user_id) %>
			</p>
		<% end %>
		
		<% if !@cd.genre.empty?%>
			<p>
				<b><%= t('.genre')%></b>
				<%= @cd.genre %>
			</p>
		<% end %>
		
		<% if @cd.year != nil %>
			<p>
				<b><%= t('.year')%></b>
				<%= @cd.year %>
			</p>
		<% end %>
		
		<% if !@cd.description.empty? %>
			<p>
				<b><%= t('.description')%></b>
				<%= @cd.description %>
			</p>
		<% end %>

		<% if !@songs.empty?%>
			<p>
			<b>Songs:</b><br/>
			<% @songs.each_with_index do |s, index| %>
				<%= index + 1 %>
				<%= s.title %>
				</br>
			<% end %>
			</p>
		<% end %>	
		
		<% if @cd.audio_file_name != nil %>
			
			<p>
			<b>DemoSong:</b>
				<% if @cd.song_being_converted %>
					Song wird gerade konvertiert...
				<% else %>
					<%= @cd.last_audio_file_name%> 
					
					<p> <audio controls="controls">
						<!-- Dateiname ohne Extension -->
						<% filename = File.basename(@cd.audio_file_name, File.extname(@cd.audio_file_name).downcase)%>
						<% path = @cd.audio.url.chomp(@cd.audio_file_name) %>
						<!-- MP3 -->
						<source src=<%='"'.html_safe+ path+filename+'.mp3"'.html_safe %> type=<%='"audio/mp3"'.html_safe %>  />

						<!-- Ogg-->	
						<source src=<%='"'.html_safe+ path+filename+'.ogg"'.html_safe %> type=<%='"audio/ogg"'.html_safe %>  />
					  Your browser does not support the audio element.
					</audio>
					</p>
				<% end %>
			</p>
			
			
		<% end %>
		
		<p>
			<b><%= t('.stars')%></b> <%= @cd.rank.to_s %> 
			<% if current_user.id != @cd.user_id && current_user.last_like != nil && current_user.last_like < (Time.now-60*60) %>
				(<%= link_to 'Like', like_cd_path(@cd.id) %>)
				<span class="span6 offset10">
	          <%= image_tag ("information-white.png"), :class=>"information_symbol", :rel=>"popover", :title => 'Like', :id => "Wenn Sie eine CD mögen können sie mit dem Like Button einen Stern vergeben."  %>
	      </span>
			<% end %>
			<% if current_user.id != @cd.user_id && current_user.last_like != nil && current_user.last_like > (Time.now-60*60) %>
			<span class="span6 offset10">
          <%= image_tag ("information-white.png"), :class=>"information_symbol", :rel=>"popover", :title => 'Like', :id => "Sie können nur alle zwei Stunde eine CD liken."  %>
      </span>
			<% end %>
		</p>
		
	</div>
	<div class="span5">
        <%= image_tag @cd.photo.url(:normal) %>
    </div>
</div>

<div class="row show-grid">
	
	<div class="actions"> 
	<% if user_signed_in? && @cd.user_id == current_user.id%>
		<%= link_to t('.button_back'), myCDs_path, :class => "btn default" %>
		<%= link_to t('.button_edit'), edit_compact_disk_path(@cd), :class => "btn primary" %>
		
		<% if @cd.audio_file_name != nil %>
		<div style=" float:right;">
			<%= link_to t('.delete_song'), delete_demo_songs_path(@cd), :class => "btn danger", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true  %>
		</div>
		<% end %>
	<% else %>
		<%= link_to 'Showcase', allUserCDs_path(@cd.user_id), :class => "btn default" %>
		<% if user_signed_in? %>
			<!--<% if current_user.id != @cd.user_id %>
				<%= link_to 'Like', like_cd_path(@cd.id), :class => "btn success" %>
			<% end %>-->
			
			<% if !@cd.in_transaction && @cd.visible %>
				<%= link_to t('.share'), swap_cd_path(@cd.id), :class => "btn primary" %>
			<% end %>
		<% end %>
		<% if user_signed_in? && AdminController.isAdmin(current_user) %>
			<div style=" float:right;">
			<% if @cd.audio_file_name != nil %>
				<%= link_to "Song löschen", @cd, :class => "btn danger", :remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true %>
			<% end %>
		
			
				<%= link_to t('.delete_cd'), @cd, :confirm => "Wollen die CD \""+ @cd.title+"\" von "+User.find(@cd.user_id).firstname+" "+User.find(@cd.user_id).lastname+" wirklich löschen?", :method => :delete, :class => "btn danger" %>
			</div>
		<% end %>
	<% end %>
	
	<div class="modal hide fade" id="modal-window">
	  <div class="modal-header">
	    <a href="#" class="close">×</a>
	    <h3>Song löschen</h3>
	  </div>
	  <div class="modal-body center">
			Wollen Sie den Song <b><%= @cd.last_audio_file_name%></b> wirklich löschen?
	  </div>
	  <div class="modal-footer">
	  	<%= link_to "Ja Song löschen", delete_demo_songs_path(@cd), :class => "btn danger", :method => :delete %>
	  </div>
	</div>
	
	</div>
	
	
</div>
