	<%= image_tag @cd.photo.url(:normal) %>
	<p>
		<b>Artist:</b>
		<%= @cd.artist %>
	</p>
	<p>
		<b>Title:</b>
		<%= @cd.title %>
	</p>
	<p>
		<b>Genre:</b>
		<%= @cd.genre %>
	</p>
	<p>
		<b>Erscheinungsjahr:</b>
		<%= @cd.year %>
	</p>
	<p>
	<b>Songs:</b><br/>
	<% @songs.each_with_index do |s, index| %>
		<%= index + 1 %>
		<%= s.title %>
		</br>
	<% end %>
	</p>
<%= link_to 'Back', :action => "index" %>