	<%= image_tag @cd.photo.url(:normal) %>
	<p>
		<b>Artist:</b>
		<%= @cd.artist %>
	</p>
	<p>
		<b>Title:</b>
		<%= @cd.title %>
	</p>
	<p>
		<b>Genre:</b>
		<%= @cd.genre %>
	</p>
<%= link_to 'Back', :action => "index" %>