<% content_for :title, @cd.title+" ("+@cd.artist+")" %>
<div class="row show-grid" >
	<div class="span11" style="margin-left:39px;">
		
		<% if !user_signed_in? || current_user.id != @cd.user_id %>
			<p>
				<b>Showcase von:</b>
				<%= link_to @user.firstname + ' ' + @user.lastname, allUserCDs_path(@cd.user_id) %>
			</p>
		<% end %>
		
		<% if !@cd.genre.empty?%>
			<p>
				<b>Genre:</b>
				<%= @cd.genre %>
			</p>
		<% end %>
		
		<% if @cd.year != nil %>
			<p>
				<b>Erscheinungsjahr:</b>
				<%= @cd.year %>
			</p>
		<% end %>
		
		<% if !@cd.description.empty? %>
			<p>
				<b>Beschreibung:</b>
				<%= @cd.description %>
			</p>
		<% end %>

		<% if !@songs.empty?%>
			<p>
			<b>Songs:</b><br/>
			<% @songs.each_with_index do |s, index| %>
				<%= index + 1 %>
				<%= s.title %>
				</br>
			<% end %>
			</p>
		<% end %>	
		
		<% if @cd.audio_file_name != nil %>
			<p>
			<audio controls="controls">
			  <source src=<%='" '.html_safe+ @cd.audio.url+ '"'.html_safe %> type=<%='" '.html_safe+ @cd.audio_content_type+ '"'.html_safe %>  />
			  Your browser does not support the audio element.
			</audio>
			</p>
		<% end %>
		
		<p>
			<b>Sterne:</b> <%= @cd.rank.to_s %> 
			<% if current_user.id != @cd.user_id %>
				(<%= link_to 'Like', like_cd_path(@cd.id) %>)
			<% end %>
		</p>
		
	</div>
	<div class="span5">
        <%= image_tag @cd.photo.url(:normal) %>
    </div>
</div>

<div class="row show-grid">
	
	<div class="actions"> 
	<% if user_signed_in? && @cd.user_id == current_user.id%>
		<%= link_to 'Zurück', myCDs_path, :class => "btn default" %>
		<%= link_to 'Bearbeiten', edit_compact_disk_path(@cd), :class => "btn primary" %>
	<% else %>
		<% if user_signed_in? %>
			<!--<% if current_user.id != @cd.user_id %>
				<%= link_to 'Like', like_cd_path(@cd.id), :class => "btn success" %>
			<% end %>-->
			<%= link_to 'Tauschen', swap_cd_path(@cd.id), :class => "btn primary" %>
		<% end %>
		<% if user_signed_in? && AdminController.isAdmin(current_user) %>
			<%= link_to "CD löschen", @cd, :confirm => "Wollen die CD \""+ @cd.title+"\" von "+User.find(@cd.user_id).firstname+" "+User.find(@cd.user_id).lastname+" wirklich löschen?", :method => :delete, :class => "btn danger" %>
		<% end %>
	<% end %>
	</div>
</div>
