<div style="margin-left:20px;">
<% if flash[:notice] %>
	<div class="alert-message success">
		<a class="alert_close" href="#">×</a>
		<%= flash[:notice] %></p>
	</div>
<% end %>
</div>

<%= will_paginate @cds, :previous_label => "Zurück", :next_label => "Weiter"  %>
<table class="bordered-table zebra-striped" style="margin-left:20px; width: 98% !important;">
    <colgroup>
    <col width="60"> <!-- Cover -->
	<col width="auto"> <!-- ID -->
    <col width="auto"> <!-- Artist -->
    <col width="auto"> <!-- Interpret-->
    <col width="auto"> <!-- Genre-->
    <col width="auto"> <!-- Beschreibung-->
	<col width="auto"> <!-- Eingestellt von-->
    <col width="auto"> <!-- Löschen -->
    </colgroup>
<thead>
<tr>
    <th>Cover</th>
	<th>ID</th>
    <th>Artist</th>
    <th>Interpret</th>
    <th> Genre</th>
    <th> Beschreibung</th>
	<th> Gehört</th>
    <th> Löschen </th>
</tr>
</thead>
<tbody>
<% @cds.each do |cd| %>
<tr>
    	<td><%= link_to (image_tag cd.photo.url(:small)), compact_disk_path(cd) %> </td>
		<td><%= cd.id %></td>
		<td><%= cd.title %></td>
		<td><%= cd.artist %></td>
    	<td><%= cd.genre %></td>
    	<td><%= cd.description %></td>
		<% user = User.find(cd.user_id) %>
		<% if user.alias.empty? %>
			<td><%= user.firstname + " "+ user.lastname %> </td>
		<% else %>
			<td><%= user.alias %> </td>
		<% end %>
		
    	<td><%= link_to (image_tag("cross-script.png")), delete_cd_path(cd.id), :method => :delete, :confirm => "Wollen sie diese CD wirklich löschen?" %> <br></td>
    <!--<td><%= image_tag("cross-script.png")%></td>-->
</tr>

<% end %>
</tbody>
</table>
<%= will_paginate @cds, :previous_label => "Zurück", :next_label => "Weiter"  %>