<div style="margin-left:20px;">
<% if flash[:notice] %>
	<div class="alert-message success">
		<a class="alert_close" href="#">×</a>
		<%= flash[:notice] %></p>
	</div>
<% end %>
</div>

<%= will_paginate @users, :previous_label => "Zurück", :next_label => "Weiter"  %>
<br />
<table class="bordered-table zebra-striped" style="margin-left:20px; width: 98% !important;">
    <colgroup>
    <col width="60"> <!-- Bild -->
    <col width="auto"> <!-- Vorname -->
    <col width="auto"> <!-- Nachname-->
    <col width="auto"> <!-- Email-->
    <col width="auto"> <!-- Alias-->
	<% if user_signed_in? && AdminController.isAdmin(current_user) %>
		<col width="auto"> <!-- ID -->
	    <col width="auto"> <!-- Registrierdatum-->
		<col width="auto"> <!-- Letzter Login-->
	    <col width="auto"> <!-- Admin -->
	    <col width="auto"> <!-- Löschen -->
	<% end %>
    </colgroup>
<thead>
<tr>
    <th>Bild</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th> Email</th>
    <th> Alias</th>
	<% if user_signed_in? && AdminController.isAdmin(current_user) %>
		<th> ID </th>
	    <th> Registierdatum</th>
		<th> Letzter Login </th>
		<th> Admin </th>
	    <th> Löschen</th>
	<% end %>
</tr>
</thead>
<tbody>
<% @users.each do |u| %>
<tr>
    	<td><%= link_to (image_tag u.photo.url(:small)), allUserCDs_path(u.id) %></td>
		<td><%= u.firstname %></td>
		<td><%= u.lastname %></td>
    	<td><%= u.email %></td>
    	<td><%= u.alias %></td>
		<% if user_signed_in? && AdminController.isAdmin(current_user) %>
			<td><%= u.id %></td>
	    	<td><%= u.created_at.strftime("%d. %b. %Y") %></td>
			<td><%= u.last_sign_in_at.strftime("%d. %b. %Y") %></td>
			<td>
				<b>
				<% if u.role_id == User.admin %>
					ja
				<% else %>
				  nein
				<% end %>
				</b>
				<br><br>
				ändern zu:
				<% if u.role_id == User.admin %>
					<br>
					<%= link_to "User", set_as_user_path(u.id), :class => "btn default" %><br>
				<% end %>
				<% if u.role_id == User.user %>
					<br>
					<%= link_to "Admin", set_as_admin_path(u.id), :class => "btn default" %><br>
				<% end %>
			</td>
			<td> 	
				<%= link_to (image_tag("cross-script.png")), delete_user_path(u.id), :method => :delete, :confirm => "Sind Sie sicher?" %> <br>
			</td>
		<% end %>
    <!--<td><%= image_tag("cross-script.png")%></td>-->
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @users, :previous_label => "Zurück", :next_label => "Weiter"  %>