<% content_for :title, "Nutzerverwaltung" %>
<br />
<table class="bordered-table zebra-striped" style="margin-left:20px; width: 98% !important;">
    <colgroup>
    <col width="60"> 
    <col width="auto">
    <col width="auto">
    <col width="auto">
    <col width="auto">
    <col width="100">
    <col width="40">
    <col width="40">
    </colgroup>
<thead>
<tr>
    <th>Bild</th>
    <th>Vorname</th>
    <th>Nachname</th>
    <th> Email</th>
    <th> Alias</th>
    <th> Registierdatum</th>
    <th></th>
    <th></th>
</tr>
</thead>
<tbody>
<% @users.each do |u| %>
<tr>
	<% if current_user.id != u.id %>
    <td><%= image_tag u.photo.url(:small) %></td>
		<td><%= u.firstname %></td>
		<td><%= u.lastname %></td>
    <td><%= u.email %></td>
    <td><%= u.alias %></td>
    <td><%= u.created_at %></td>
    <td> <%= image_tag("pencil.png") %></td>
		<td> <%= link_to (image_tag("cross-script.png")), delete_user_path(u.id), :method => :delete, :confirm => "Sind Sie sicher?" %> </td>
    <!--<td><%= image_tag("cross-script.png")%></td>-->
	<% end %>
</tr>
<% end %>
</tbody>
</table>