<% content_for :title, "Passwort vergessen?" %>

<% if flash[:alert] %>
	<div class="alert-message error">
		<%= flash[:alert] %></p>
	</div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => reset_password_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="clearfix">
  		<%= f.label "Ihre eMail Adresse: " %><br />
		<div class="input">
  			<%= f.email_field :email %>
		</div>
	</div>

  
	<div class="actions"> 
		<%= f.submit "Neues Passwort senden", :class => "btn primary" %>
	</div>
<% end %>