<% content_for :title, "Forgot your password?" %>

<%= form_for(resource, :as => resource_name, :url => reset_password_path, :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me new password" %></div>
<% end %>