<% content_for :title, "Tausch Historie" %>

<table class="bordered-table zebra-striped">
	<thead>
	<tr>
	    <th>Meine CD(s)</th>
		<th>Eingetauscht gegen</th>
		<th>Tauschpartner</th>
		<th>Datum</th>
	</tr>
	</thead>
	<tbody>
	<% @transactions.each do |t| %>
		<% up = User.find(t.provider_id) %>
		<% ur = User.find(t.receiver_id) %>
		
		<% if t.provider_id == current_user.id %>
			<tr>
			<td>
			<% t.swap_provider.each do |sp| %>
				<% if CompactDisk.exists?(sp.compact_disk_id) %>
					<%= image_tag getDiskById(sp.compact_disk_id).photo.url(:small) %>
				<% else %>
					CD nicht mehr verfuegbar
				<% end %>
			<% end %>
			</td>
			<td>
			<% t.swap_receiver.each do |sr| %>
				<% if CompactDisk.exists?(sr.compact_disk_id) %>
					<%= image_tag getDiskById(sr.compact_disk_id).photo.url(:small) %>
				<% else %>
					CD nicht mehr verfuegbar
				<% end %>	
			<% end %>
			</td>
			<td class="middle"><%= link_to ur.firstname + ' ' + ur.lastname, allUserCDs_path(ur) %></td>
			<td class="middle"><%= t.created_at.strftime("%d.%m.%Y (%H:%M Uhr)") %></td>
			</tr>	
		<% else %>
			<tr>
			<td>
			<% t.swap_receiver.each do |sr| %>
				<% if CompactDisk.exists?(sr.compact_disk_id) %>
					<%= image_tag getDiskById(sr.compact_disk_id).photo.url(:small) %>
				<% else %>
					CD nicht mehr verfuegbar
				<% end %>
			<% end %>
			</td>
			<td>
			<% t.swap_provider.each do |sp| %>
				<% if CompactDisk.exists?(sp.compact_disk_id) %>
					<%= image_tag getDiskById(sp.compact_disk_id).photo.url(:small) %>
				<% else %>
					CD nicht mehr verfuegbar
				<% end %>
			<% end %>
			</td>
			<td class="middle"><%= link_to up.firstname + ' ' + up.lastname, allUserCDs_path(up) %></td>
			<td class="middle"><%= t.created_at.strftime("%d.%m.%Y (%H:%M Uhr)") %></td>
			</tr>
		<% end %>
	<% end %>
	</tbody>
</table>
<div class="row">
	<div style="padding-left:20px;">
	<%= will_paginate @transactions, :next_label => "Weiter", :previous_label => "Zurück"  %>
	</div>
</div>