<% content_for :title, "Anfragen" %>
<div style ="margin-left:17px">

<% if !@sent_messages.empty? && @sent_messages != nil %>
	<h6>Gesendete Angebote</h6>
	<table class="bordered-table zebra-striped">
		<thead>
		<tr>
		    <th>Meine CDs</th>
			<th>Gegen CDs </th>
			<th>Von</th>
			<th>Status</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<% @sent_messages.each do |sm| %>
			<% wcd = getWantedCDs(sm.subject) %>
			<% mcd = getMineCDs(sm.subject) %>
		
		<tr>
			<% if !sm.body.include? "Modifikation" %>	
			<td>
				<% wcd.each do |m| %>
					<%= image_tag getCover(m).photo.url(:small), :rel=>"popover", :title=>getCD(m).title+" ("+getCD(m).artist+")", :id=>getSongs(getCD(m)) %>
				<% end %>
			</td>
			<td>
				<% mcd.each do |w| %>
					<%= image_tag getCover(w).photo.url(:small), :rel=>"popover", :title=>getCD(w).title+" ("+getCD(w).artist+")", :id=>getSongs(getCD(w)) %>
				<% end %>
			</td>
			<td>
				<%= sm.recipient.firstname + " " + sm.recipient.lastname %>
			</td>
			<% else %>
			<tr>
				<td>
					<% getNewReqProvide(sm.subject).each do |nrp| %>
						<%= image_tag getCover(nrp).photo.url(:small), :rel=>"popover", :title=>getCD(nrp).title+" ("+getCD(nrp).artist+")", :id=>getSongs(getCD(nrp)) %>
					<% end %>
				</td>
				<td>
					<% getNewReqMine(sm.subject).each do |nrm| %>
						<%= image_tag getCover(nrm).photo.url(:small), :rel=>"popover", :title=>getCD(nrm).title+" ("+getCD(nrm).artist+")", :id=>getSongs(getCD(nrm)) %>
					<% end %>
				</td>
				<td>
					<%= sm.recipient.firstname + " " + sm.recipient.lastname %>
				</td>
			<% end %>
			<td class="middle">
				<% if isRejected?(sm.id) %>
					Abgelehnt 
				<% elsif isModified?(sm.id) %>
					Wurde modifiziert
				<% elsif isModAccepted?(sm.id) %>
					Modifikation angenommen
				<% elsif isAccepted?(sm.id) %>
					Angenommen
				<% elsif sm.body.include? "Modifikation" %>
					Modifikation gesendet
				<% else %>
					Offen
				<% end %>
			</td>
			<td class="middle">
				<% if isRejected?(sm.id) %>
					<%= link_to "Löschen", rejected_url(:id => getRejectedMsg(sm.id)), :class => "btn danger" %>
				<% elsif isModAccepted?(sm.id) %>
					<%= link_to "Löschen", modify_accepted_url(:id => getModifiedMsg(sm.id)), :class => "btn"%>	
				<% elsif isAccepted?(sm.id) %>
					<%= link_to "Löschen", accepted_url(:id => getAcceptedMsg(sm.id)), :class => "btn danger" %>
				<% else %>
					<%= link_to "Löschen", destroy_sent_msg_path(:id => sm) ,:methode => "delete", :class => "btn danger" %>
				<% end %>	
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>

<% if !@messages_requests.empty? && @messages_requests != nil %>
	<h6>Erhaltene Angebote</h6>
	<table class="bordered-table zebra-striped">
		<thead>
		<tr>
		    <th>Meine CDs</th>
			<th>Gegen CDs</th>
			<th>Von</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<% @messages_requests.each do |ma| %>
		<% wcd = getWantedCDs(ma.subject) %>
		<% mcd = getMineCDs(ma.subject) %>
		<tr>
			<td>
				<% mcd.each do |w| %>
					<%= image_tag getCover(w).photo.url(:small), :rel=>"popover", :title=>getCD(w).title+" ("+getCD(w).artist+")", :id=>getSongs(getCD(w)) %>
				<% end %>
			</td>
			<td>
				<% wcd.each do |m| %>
					<%= image_tag getCover(m).photo.url(:small), :rel=>"popover", :title=>getCD(m).title+" ("+getCD(m).artist+")", :id=>getSongs(getCD(m)) %>
				<% end %>
			</td>
			<td>
				<%= ma.sender.firstname + " " + ma.sender.lastname %>
			</td>
			<td class="middle">
				<%= link_to "Annehmen", accept_url(ma), :class => "btn success" %>
				<%= link_to "Ablehnen", destroy_url(:id => ma) ,:methode => "delete", :class => "btn danger" %>
				<%= link_to "Modifizieren", modifyRequest_path(ma), :class => "btn" %>
			</td>
		</tr>
		<% end %>
		</tbody>
	</table>
<% end %>
<%
=begin
%>
<% if !@messages_rejected.empty? && @messages_rejected != nil %>
	<h6>Abgelehnte Angebote</h6>
	<table class="bordered-table zebra-striped">
		<thead>
		<tr>
		    <th>Meine CDs</th>
			<th>Gegen CDs</th>
			<th>Von</th>
			<th></th>
		</tr>
		</thead>
	
		<% @messages_rejected.each do |mr| %>			
			<% if !mr.body.include? "MAbgelehnt" %>
				<% wcd = getWantedCDs(mr.subject) %>
				<% mcd = getMineCDs(mr.subject) %>
				<tr>
					<td>
						<% wcd.each do |m| %>
							<%= image_tag getCover(m).photo.url(:small), :rel=>"popover", :title=>getCD(m).title+" ("+getCD(m).artist+")", :id=>getSongs(getCD(m)) %>
						<% end %>
					</td>
					<td>
						<% mcd.each do |w| %>
							<%= image_tag getCover(w).photo.url(:small), :rel=>"popover", :title=>getCD(w).title+" ("+getCD(w).artist+")", :id=>getSongs(getCD(w)) %>
						<% end %>
					</td>
					<td>
						<%= mr.sender.firstname + " " + mr.sender.lastname %>
					</td>
					<td class="middle">
						<%= link_to "Nachricht entfernen", rejected_url(:id => mr), :class => "btn" %>
					</td>
				</tr>
				<% else %>
					<tr>
						<td>
							<% getNewReqMine(mr.subject).each do |nrm| %>
								<%= image_tag getCover(nrm).photo.url(:small), :rel=>"popover", :title=>getCD(nrm).title+" ("+getCD(nrm).artist+")", :id=>getSongs(getCD(nrm)) %>
							<% end %>
						</td>
						<td>
							<% getNewReqProvide(mr.subject).each do |nrp| %>
								<%= image_tag getCover(nrp).photo.url(:small), :rel=>"popover", :title=>getCD(nrp).title+" ("+getCD(nrp).artist+")", :id=>getSongs(getCD(nrp)) %>
							<% end %>
						</td>
						<td>
							<%= mr.sender.firstname + " " + mr.sender.lastname %>
						</td>
						<td class="middle">
							<%= link_to "Nachricht entfernen", modified_rejected_url(:id => mr), :class => "btn" %>
						</td>
					</tr>
				<% end %>
		<% end %>
	</table>
<% end %>
<%
=end
%>
<%
=begin
%>
<% if !@messages_accepted.empty? && @messages_accepted != nil %>
	<h6>Angenommene Angebote</h6>
	<table class="bordered-table zebra-striped">
		<thead>
		<tr>
		    <th>Meine CD</th>
			<th>Gegen</th>
			<th></th>
		</tr>
		</thead>
	
	<% @messages_accepted.each do |m| %>
	<% wcd = getWantedCDs(m.subject) %>
	<% mcd = getMineCDs(m.subject) %>
		<tr>
		<td>
			<% wcd.each do |w| %>
				<%= image_tag getCover(w).photo.url(:small), :rel=>"popover", :title=>getCD(w).title+" ("+getCD(w).artist+")", :id=>getSongs(getCD(w)) %>
			<% end %>
		</td>
		<td>
			<% mcd.each do |m| %>
				<%= image_tag getCover(m).photo.url(:small), :rel=>"popover", :title=>getCD(m).title+" ("+getCD(m).artist+")", :id=>getSongs(getCD(m)) %>
			<% end %>
		</td>
		<td class="middle">
		<% if m.body.include? "MAngenommen" %>
			<%= link_to "Nachricht entfernen", modify_accepted_url(:id => m), :class => "btn"%>
		<% else %>
			<%= link_to "Nachricht entfernen", accepted_url(:id => m), :class => "btn" %>
		<% end %>
		</td>
		</tr>
	<% end %>
	</table>
<% end %>
<%
=end
%>
<% if !@messages_modified.empty? && @messages_modified != nil %>
	<h6>Erhaltene modifizierte Angebote</h6>
	<table class="bordered-table zebra-striped">
		<thead>
		<tr>
			<th>Meine CDs</th>
			<th>Gegen CDs</th>
			<th>Von</th>
			<th></th>
		</tr>
		</thead>

	<% @messages_modified.each do |m| %>
		<tr>
		<!--
		<td>
			<% getOldReqMine(m.subject).each do |orm| %>
				<%= image_tag getCover(orm).photo.url(:small) %>
			<% end %>
		</td>
		<td>
			<% getOldReqProvide(m.subject).each do |orp| %>
				<%= image_tag getCover(orp).photo.url(:small) %>
			<% end %>
		</td>
		-->
		<td>
			<% getNewReqMine(m.subject).each do |nrm| %>
				<%= image_tag getCover(nrm).photo.url(:small), :rel=>"popover", :title=>getCD(nrm).title+" ("+getCD(nrm).artist+")", :id=>getSongs(getCD(nrm)) %>
			<% end %>
		</td>
		<td>
			<% getNewReqProvide(m.subject).each do |nrp| %>
				<%= image_tag getCover(nrp).photo.url(:small), :rel=>"popover", :title=>getCD(nrp).title+" ("+getCD(nrp).artist+")", :id=>getSongs(getCD(nrp)) %>
			<% end %>
		</td>
		<td>
			<%= m.sender.firstname + " " + m.sender.lastname %>
		</td>
		<td class="middle">
			<%= link_to "Annehmen", modified_accept_url(:id => m), :class => "btn success" %>
			<%= link_to "Ablehnen", modified_reject_url(:id => m), :class => "btn danger" %>
		</td>
		</tr>
	<% end %>
	</table>
<% end %>
</div>