<div class="row show-grid" >
    <div class="span11" style="margin-left:39px;">
		<% if !@user.alias.empty? %>
        	<p><b><%= t('user.alias')%>: </b><span style="margin-left:16px;"><%= @user.alias %></span></p>
		<% end %>
        <p><b><%= t('user.email')%>: </b><span style="margin-left:12px;"><%= @user.email %></span></p>
		
		<% if user_signed_in? && current_user.id == @user.id %>
			<% if @user.email_notification %>
				<p><b><%= t('.notification')%> </b><span style="margin-left:12px;"><%= t('.notification_state_yes')%></span></p>
			<% else %>
				<p><b><%= t('.notification')%> </b><span style="margin-left:12px;"><%= t('.notification_state_no')%></span></p>
			<% end %>
			<% if @user.search_own_cds %>
				<p><b><%= t('.search_own_cds')%>  </b><span style="margin-left:12px;"><%= t('.notification_state_yes')%></span></p>
			<% else %>
				<p><b><%= t('.search_own_cds')%> </b><span style="margin-left:12px;"><%= t('.notification_state_no')%></span></p>
			<% end %>
		<% end %>
    </div>
    <div class="span5">
        <%= image_tag @user.photo.url(:normal) %>
    </div>
</div>