<h1><%= t('.user_show_title')%></h1>

<%= image_tag @user.photo.url(:normal) %>
<p><%= t('.user_name') %> <%= @user.firstname %> <%= @user.lastname %></p>
<p>Alias: <%= @user.alias %></p>
<p>eMail: <%= @user.email %></p>
<p><%= link_to t('.edit_profil'), edit_user_registration_path %></p>
<p><%= link_to t('.delete_profil'), registration_path(@user), :confirm => 'Sind Sie sicher?', :method => :delete %></p>