<% content_for :title, @user.firstname + " " + @user.lastname %>
<div style="margin-left:20px;">
<% if flash[:notice] %>
	<div class="alert-message success">
		<a class="alert_close" href="#">×</a>
		<%= flash[:notice] %></p>
	</div>
<% end %>
</div>

<%= render "user/show_partial" %>

<div class="row show-grid">
	
	<div class="actions"> 
	  
	 	<% if user_signed_in? && current_user.id == @user.id %>
			<%= link_to t('.button_back'), myCDs_path, :class => "btn default" %>
			<%= link_to t('.edit_account'), edit_user_registration_path, :class => "btn primary" %>
		<% else %>
			<%= link_to t('.button_back'), :back, :class => "btn default" %>
		<% end %>
  	</div>

</div>