<% content_for :title, t('.user_show_title') %>

<div class="row show-grid" >
    <div class="span11" style="margin-left:39px;">
    
        <p><b><%= t('.user_name')%>:</b> <span style="margin-left:10px; "> <%= @user.firstname %> <%= @user.lastname %></span></p>
        <p><b><%= t('user.alias')%>: </b><span style="margin-left:16px;"><%= @user.alias %></span></p>
        <p><b><%= t('user.email')%>: </b><span style="margin-left:12px;"><%= @user.email %></span></p>
    </div>
    <div class="span5">
        <%= image_tag @user.photo.url(:normal) %>
    </div>
</div>

<div class="row show-grid">
	
	<div class="actions"> 
	  <%= link_to 'Abbrechen', myCDs_path, :class => "btn primary" %>
      <%= link_to t('.edit_account'), edit_user_registration_path, :class => "btn primary" %>
	  <%= link_to t('.delete_account'), registration_path(@user), :class => "btn danger", :confirm => t('.confirm_changes'), :method => :delete %>
  	</div>

</div>