<h1>Benutzerprofil</h1>

<%= image_tag @user.photo.url(:normal) %>
<p>Name: <%= @user.firstname %> <%= @user.lastname %></p>
<p>Alias: <%= @user.alias %></p>
<p>eMail: <%= @user.email %></p>
<p>
	<%= link_to "Bearbeiten", edit_user_registration_path %> |
	<%= link_to 'Account löschen', registration_path(@user), :confirm => 'Sind Sie sicher?', :method => :delete %>
</p>

<div id="userpic">Bild</div>
