<% content_for :title, @user.firstname + " " + @user.lastname %>
<%= render "user/show_partial" %>

<div class="row show-grid">
	
	<div class="actions"> 
	  
	 	<% if user_signed_in? && current_user.id == @user.id %>
			<%= link_to 'Abbrechen', myCDs_path, :class => "btn primary" %>
      		<%= link_to t('.edit_account'), edit_user_registration_path, :class => "btn primary" %>
	  		<%= link_to t('.delete_account'), registration_path(@user), :class => "btn danger", :confirm => t('.confirm_changes'), :method => :delete %>
		<% else %>
			<%= link_to 'Zurück', :back, :class => "btn primary" %>
		<% end %>
  	</div>

</div>