<!DOCTYPE html>
<html>
<head>
  <title>CD - Tauschbörse</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="standard">
	
<div id="main">
	<div id="head">
		<div id="logo">
		
		</div>
		<div id="login">
			Login:
			<% if user_signed_in? %>
			  	<%= link_to('Edit registration', edit_user_registration_path) %> | 
			  	<%= link_to('Logout', destroy_user_session_path) %> 
			  <% else %>						  	
				<%= form_for("user", :url => user_session_path) do |f| %>
				  <%= f.text_field :email %></br>
				  <%= f.password_field :password %></br>
				  <%= f.check_box :remember_me %>
				  <%= f.label :remember_me %>
				  <%= f.submit 'Sign in' %>
				<% end %>
				<%= link_to "Forgot your password?", new_password_path('user') %></br>
			  	<%= link_to('Register', new_user_registration_path)  %>
			  <% end %>
		</div>
		<div style="float:clear;"></div>
		<div id="naviline">
		 Titel/Funktion der Seite
		</div>
	</div>
	
	<div id="navi">
		<div id="navidesign1">
		<div id="navidesign2">
			Navigation Hier das menü
		</div>
		</div>
		
	</div>
	<div id="content">
		<%= yield %>
		Content
	</div>
	
</div>


</body>
</html>
