<% content_for :title, "Suchergebniss" %>
	
<% if !@cds.empty? %>
	<h3>Gefundene CDs</h3>
	<p><%= flash[:alert] %></p>

	<div style="padding-left:20px;">
	<%= will_paginate @cds %>
	</div>
	<div style="height:494px;">
	<ol id="selectable">
		<% @cds.each do |c| %>
		<% if c.visible == true %>
		<li>
			<!--<%= image_tag c.photo.url(:normal) %>-->
			<%= link_to (image_tag c.photo.url(:normal)), compact_disk_path(c), :rel=>"popover", :title=>c.title+" ("+c.artist+")", :id=>getSongs(c)%>
			<p class="blackFont"><%= c.artist %></p>
			<p><%= c.title %></p>
			<p>
				<!--<%= link_to 'Show', compact_disk_path(c) %>-->
				
				<% if user_signed_in? %>
					<%= link_to 'Tauschen', swap_cd_path(c.id) %>
				<% end %>
			</p>
		</li>
		<% end %>
		<% end %>
	</ol>
	</div>
	<div style="padding-left:20px;">
	<%= will_paginate @cds %>
	</div>
<% end %>

<% if !@users.empty? %>
	<h3>Gefundene User</h3>
	<br />
	<table class="bordered-table zebra-striped" style="margin-left:20px; width: 98% !important;">
	    <colgroup> 
	    <col width="60"> 
	    <col width="auto">
	    <col width="auto">
	    <col width="auto">
	    <col width="auto">
	    <col width="100">
			<% if current_user.role_id == User.admin %>
	    	<col width="40">
	    	<col width="40">
			<% end %>
	    </colgroup>
	<thead>
	<tr>
	    <th>Bild</th>
	    <th>Vorname</th>
	    <th>Nachname</th>
	    <th> Email</th>
	    <th> Alias</th>
	    <th> Registierdatum</th>
	    <% if current_user.role_id == User.admin %>
				<th></th>
	    	<th></th>
			<% end %>
	</tr>
	</thead>
	<tbody>
	<% @users.each do |u| %>
	<tr>
	    <td><%= image_tag u.photo.url(:small) %></td>
		<td><%= u.firstname %></td>
		<td><%= u.lastname %></td>
	    <td><%= u.email %></td>
	    <td><%= u.alias %></td>
	    <td><%= u.created_at %></td>
	    
			<% if current_user.role_id == User.admin %>
				<td> <%= image_tag("pencil.png") %></td>
	    	<td><%= image_tag("cross-script.png")%></td>
			<% end %>
	</tr>
	<% end %>
	</tbody>
	</table>
<% end %>