<!DOCTYPE html>
<html>
<head>
  <title>CD - Tauschbörse</title>
  <%= stylesheet_link_tag    "application", "bootstrap" %>
  <%= javascript_include_tag "application","bootstrap-alerts", "bootstrap-buttons", "bootstrap-dropdown", "bootstrap-modal", "bootstrap-twipsy", "bootstrap-popover","bootstrap-scrollspy", "bootstrap-tabs" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="main">
          <div class="topbar" data-dropdown="dropdown">
            <div class="fill">
                <div class="container-fluid">
										
                    <%= link_to "SwaRmusik", welcome_path, :class => "brand" %>
                    <ul class="nav" style="margin-left:29px;">
                        <!--<li class="active"><%= link_to "Home", welcome_path, :class => "brand" %></li>-->
												
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#">Kategorien</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <%= link_to t('.cd_all'), compact_disk_index_path %>
                                </li>
                                <li>
																		<%= link_to 'Neueste CDs', latest_cd_path %>
                                </li>  
																<li><%= link_to "Aktivste Benutzer", most_active_user_path %></li>
                            </ul>
                        </li>
                        <% if user_signed_in? %>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#">Mein Profil</a>
                                <ul class="dropdown-menu">                                    
                                    <li>
                                        <%= link_to t('.user_cd_index'), myCDs_url(current_user.id) %>
                                    </li>
                                    <li>
                                        <%= link_to "Anfragen (" + getUnreadMessageCount(current_user.id).to_s + ")", transaction_index_path %>
                                    </li>
																		<li>
						                            <%= link_to t('.user_show'), user_path(current_user.id) %>
						                        </li>
                                </ul>
                            </li>
							<% if current_user.role_id == User.admin %>
								<li>
									<a class="dropdown-toggle" href="#">Administration</a>
									<ul class="dropdown-menu">
										<li><%= link_to "Nutzerverwaltung", adminAllUsers_path %></li>
										<li><%= link_to "CD Verwaltung", adminAllCDs_path %></li>
									</ul>
								</li>
							<% end %>
                        <% end %>
												<!--<input type="text" placeholder="Search">-->
												<% if user_signed_in?%>
												<li>
													<%= form_tag(search_path, :method => "get") do %>
												  	<%= text_field_tag :querry, nil, :placeholder => 'Suche nach Benutzer oder CDs'%>
													<% end %>
												</li>
												<% end %>
                        
                    </ul>
                       <% if user_signed_in? %>
                            <p class="pull-right">
                                <span class="label notice">Logged in as</span> <%= link_to( current_user.firstname + " " + current_user.lastname, edit_user_registration_path) %> 
                                <%= link_to('Logout', destroy_user_session_path) %>
                            </p>
                         <% else %>
                                <%= form_for("user", :url => user_session_path, :class => "pull-right") do |f| %>
                                    <%= f.check_box :remember_me %>
                                    <%= f.label :remember_me %> 
                                    <%= f.text_field :email, :class => "input-small", :placeholder => "Username" %>
                                    <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>			
                                    <%= f.submit 'Login'%>
                                    <div class="login_remind">
                                       <p style="font-size:10px;color:#404040; line-height:15px !important;"> 
                                            <%= link_to  "Registrieren", new_user_registration_path %>										
                                            
                                       </p>
                                    </div>
                                <% end %>
                         <% end %>
            </div>
          </div>
        </div>
        
        <div class="container">
			<div class="content">
            	<div class="page-header">
<!--                <div class="row show-grid"> -->
<!--                    <div class="span8"> -->
                        <h2> 
							<%= yield(:title) %>  
						
						</h2>
<!--                    </div> -->                    
<!--				</div>	-->
            	</div>
			
				<div class="row">
<!--            	<div class="content">-->
                	<%= yield %> 
            	</div>
			</div>
            
			<footer>
                &copy; RailsProjekt 2011 <%= link_to  "Impressum", impressum_path %>	
            </footer>
        </div>
    </div>
</body>
</html>
