<!DOCTYPE html>
<html>
<head>
  <title>CD - Tauschbörse</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", %>
  <%= csrf_meta_tags %>
</head>
<body id="standard">
	
<div id="main">
	<div id="loginbar">
		<% if user_signed_in? %>
			<%= link_to "Daten ändern", edit_user_registration_path %>
			<%= link_to "Abmelden", destroy_user_session_path %>
		<% else %>
			<%= link_to "Anmelden", new_user_session_path %>
		<% end %>
	</div>
	
	<!--<div id="head">-->
	<header>
		<div id="logo">	</div>
<%=
=begin
%>		
		<div id="login">
			Login:
			<% if user_signed_in? %>
			<div id="buttons">
			  	<%= button_to('Daten ändern', edit_user_registration_path, :method => "get" ) %>
			  	<%= button_to('Logout', destroy_user_session_path, :method => "get") %>
			</div>
			</br>
			 	Angemeldet als: <%= current_user.firstname + " " + current_user.lastname  %>
			  <% else %>						  	
				<%= form_for("user", :url => user_session_path) do |f| %>
				  <%= f.text_field :email %></br>
				  <%= f.password_field :password %></br>
				  <%= f.check_box :remember_me %>
				  <%= f.label :remember_me %>
				  <%= f.submit 'Login' %>
				<% end %>
				<div id="buttons">
					<%= button_to "Passwort vergessen?", new_password_path('user'), :method => "get" %>
			  		<%= button_to('Registrieren', new_user_registration_path, :method => "get")  %>
				</div>
			  <% end %>
		</div>
<%=
=end
%>
		<div style="float:clear;"></div>
		<div id="naviline">
			<%= yield(:title) %>
		</div>
	<!-- </div> -->
	</header>
	
	<div id="navi">
		<div id="navidesign1">
			<div id="navidesign2">
				<% if user_signed_in? %>
					<%= link_to "Mein Profil", user_path(current_user.id) %> </br>	
					<%= link_to "Meine CDs", compact_disk_index_path %> 
						<% if request.fullpath.include? "compact_disk" %>
							</br><%= link_to ' * Neue CD', new_compact_disk_path %>
						<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div id="content">
		<%= yield %>
	</div>
	<div id="shareBox">
		<%= image_tag "cart.png", :size => "212x212" %>
	</div>	
</div>


</body>
</html>
