<!DOCTYPE html>
<html>
<head>
  <title>CD - Tauschbörse</title>
  <%= stylesheet_link_tag    "application", "bootstrap" %>
  <%= javascript_include_tag "application","bootstrap-alerts", "bootstrap-buttons", "bootstrap-dropdown", "bootstrap-modal", "bootstrap-twipsy", "bootstrap-popover","bootstrap-scrollspy", "bootstrap-tabs" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section id="navigation">
		<div class="topbar-wrapper" style="z-index: 5;">
		    <div class="topbar" data-dropdown="dropdown" >
		      <div class="topbar-inner">
		        <div class="container">
		          <%= link_to "SwaRmusik", welcome_path, :class => "brand" %>
		          <ul class="nav">
								<% if !user_signed_in? %>
									<li><a href="<%=new_user_registration_path%>">Registrieren</a></li>
								<% end %>
								<li class="dropdown">
                    <a class="dropdown-toggle" href="#">Kategorien</a>
                    <ul class="dropdown-menu">
                        <li><%= link_to t('.cd_all'), compact_disk_index_path %></li>
                        <li><%= link_to 'Neueste CDs', latest_cd_path %></li>  
												<li><%= link_to "Aktivste Benutzer", most_active_user_path %></li>
												<li><%= link_to "Tollste CDs", best_cd_path %></li>
                    </ul>
                </li>
								<% if !user_signed_in? %>
										
											</ul>
													<ul class="nav secondary-nav">
								
                            <%= form_for("user", :url => user_session_path, :class => "pull-right") do |f| %>
                                <%= f.text_field :email, :class => "input-small", :placeholder => "Email" %>
                                <%= f.password_field :password, :class => "input-small", :placeholder => "Password" %>			
                                <%= f.submit 'Login'%>
                            <% end %>
													</ul>
                     <% end %>

		            
							<% if user_signed_in? %>
								<li>
									<%= form_tag(search_path, :method => "get") do %>
								  	<%= text_field_tag :querry, nil, :placeholder => 'Suche nach Benutzer oder CDs'%>
									<% end %>
								</li>
		          	</ul>
							<% end %>
		
							<% if user_signed_in? %>
		          <ul class="nav secondary-nav">
									<% if current_user.role_id == User.admin %>
										<li>
											<a class="dropdown-toggle" href="#">Admin</a>
											<ul class="dropdown-menu">
												<li><%= link_to "Nutzerverwaltung", adminAllUsers_path %></li>
												<li><%= link_to "CD Verwaltung", adminAllCDs_path %></li>
											</ul>
										</li>
									<% end %>
								
		            <li class="dropdown">
		             	<a href="#" class="dropdown-toggle"><%= current_user.firstname+" "+current_user.lastname %></a>
		              <ul class="dropdown-menu">
		                <li>
                        <%= link_to t('.user_cd_index'), myCDs_url(current_user.id) %>
                    </li>
                    <li>
                        <%= link_to "Anfragen (" + getUnreadMessageCount(current_user.id).to_s + ")", transaction_index_path %>
                    </li>
										<li class="divider"></li>
										<li>
                        <%= link_to t('.user_show'), user_path(current_user.id) %>
                    </li>
		                
										<li>
											<%= link_to('Logout', destroy_user_session_path) %>
										</li>
		              </ul>
		            </li>
		          </ul>
							<% end %>
		        </div>
		      </div><!-- /topbar-inner -->
		    </div><!-- /topbar -->
		  </div><!-- /topbar-wrapper -->
	</section>
        
        <div class="container">
			<div class="content">
            	<div class="page-header">
<!--                <div class="row show-grid"> -->
<!--                    <div class="span8"> -->
                        <h2> 
							<%= yield(:title) %>  
						
						</h2>
<!--                    </div> -->                    
<!--				</div>	-->
            	</div>
			
				<div class="row">
<!--            	<div class="content">-->
                	<%= yield %> 
            	</div>
			</div>
            
			<footer>
                &copy; RailsProjekt 2011 <%= link_to  "Impressum", impressum_path %>	
            </footer>
        </div>
				</div>
				
</body>
</html>
