<!DOCTYPE html>
<html>
<head>
  <title>CD - Tauschbörse</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", %>
  <%= csrf_meta_tags %>
</head>
<body id="standard">
	
<div id="main">
	
	<div id="head">
	<div id="logo">	</div>
        <div id="login">
			<% if user_signed_in? %>
                <div id="logged_in_as">
                    Angemeldet als:
                    <div id="logged_in_as_name">
                        <%= current_user.firstname + " " + current_user.lastname  %>
                    </div>
                </div>
                <div id="buttons">
                    <%= button_to('Daten ändern', edit_user_registration_path, :method => "get" ) %>
                    <%= button_to('Logout', destroy_user_session_path, :method => "get") %>
                </div>	
			<% else %>						  	
				<%= form_for("user", :url => user_session_path) do |f| %>
				  <label for="user_email" style="margin-right:13px;">Login:</label>
                  <%= f.text_field :email %></br>
                  <lablel for="user_password">Passwort:</label>
				  <%= f.password_field :password %></br>
				  <%= f.check_box :remember_me %>
				  <%= f.label :remember_me %>
				  <%= f.submit 'Login' %>
				<% end %>
				<div id="buttons">
					<%= link_to "Passwort vergessen?", new_password_path('user'), :method=> "get" %>
                    <%= link_to  "Registrieren", new_user_registration_path, :method=> "get" %>
				</div>
			  <% end %>
		</div>
        
	<!--<div id="loginbar">
		<% if user_signed_in? %>
			<%= link_to "Daten ändern", edit_user_registration_path %>
			<%= link_to "Abmelden", destroy_user_session_path %>
		<% else %>
			<%= link_to "Anmelden", new_user_session_path %>
		<% end %>
	</div>-->
	<div style="float:clear;"></div>
		<div id="naviline">
			<%= yield(:title) %>
		</div>
	</div>
	</header>
	
	<div id="navi">
		<div id="navidesign1">
			<div id="navidesign2">
				<% if user_signed_in? %>
					<%= link_to t('.user_show'), user_path(current_user.id) %> </br>
					<%= link_to t('.user_cd_index'), compact_disk_index_path %> </br>
					<%= link_to "Anfragen", transaction_index_path(current_user) %>
				<% end %>
			</div>
		</div>
	</div>

	<div id="content">
		<%= yield %>
	</div>

	<div id="shareBox">
		<!-- %= image_tag "cart.png", :size => "212x212" %> -->
	</div>	

</body>
</html>
